@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: aliceblue;
  --secondary-color: rgb(241, 84, 36);
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
body{
  font-family: var(--font-family)
}
.footer{
    display: flex;
    justify-content:center;
    align-items:flex-end;
    font-family : "Poppins Bold";
    font-size : 15px;
    width : 100%;
    height : 50px;
    margin-top: 15px;
    background-color:  #1f2235;
    color: var(--secondary-color) !important;
}

