@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: aliceblue;
  --secondary-color: rgb(241, 84, 36);
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
body{
  font-family: var(--font-family)
}
.navbar-brand{
  color: var(--primary-color) !important;
}

.nav-link{
  color: var(--primary-color) !important;
  
}
.nav-link:hover {
  color: var(--secondary-color) !important;
}
nav {
    height : 149px;
    font-weight: var(--bold-font);
}
.toggle{
    background-color: #25263a;
}
.heading{
    font-family : "Poppins Bold";
    font-size : 45px;
}
